.cr-footer {
  background-color: #000;
  min-height: 15vh;

  &__container {
    display: flex;
    align-items: center;
  }

  &__agh-logo {
    height: 80px;
  }
}

@media (min-width: 992px) {
  .cr-footer {
    &__agh-logo {
      height: 175px;
    }
  }
}