@import '../../theme.scss';

.account-menu {
  color: white;
  padding: 0;
  list-style-type: none;

  &__item {
    display: flex;
    align-items: stretch;
    min-height: 3rem;
    border-bottom: 1px solid rgba(white, 0.6);
    cursor: pointer;

    &:last-child {
      border-bottom: 1px solid transparent;
    }

    &:hover {
      background-color: $light-red-color;
    }

  }

  &__link-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 100%;
    padding-left: 0.8rem;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}