.check-availability {
  display: flex;
  background-color: #344a71;
  height: 9vh;
  color: white;
  justify-content: center;
}

.check-availability-heading {
  display: flex;
  align-items: center;
  margin-right: 5%;

  &__tick {
    height: 30%;
    width: 60px;
  }

  &__text {
    font-size: 1.5rem;
  }
}
