.reservation {
  display: flex;
  width: 100%;
  height: 100%;

  &__details {
    flex: 2;
    margin-right: 15px
  }

  &__schedule {
    margin-left: 15px;
    flex: 1;
    overflow: hidden;
    height: inherit;
  }
}

.reservation-time {
  display: flex;
}

.date-button {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 16px;
  flex: 1;
}

.calendar-icon:before {
  @extend  .svg-icon;
  background-image: url("calendar.svg");
}

.clock-icon:before {
  @extend  .svg-icon;
  background-image: url("clock.svg");
}

.svg-icon {
  content: '';
  background-size: 26px 26px;
  display: block;
  height: 26px;
  width: 26px;
}