.reservation {
  display: flex;
  width: 100%;
  height: 100%;

  &__details {
    flex: 2
  }

  &__schedule {
    flex: 1;
    overflow: hidden;
    height: inherit;
  }
}

.reservation-time {
  display: flex;
}
