@import '../../theme.scss';

$cell-number-width: 52px;

.schedule {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  &__content {
      height: inherit;
      overflow: scroll;
      position: relative;
  }
}

.schedule-cell {
  height: 60px;
  border: 1px solid #ced4da;

  &__hour {
    display: block;
    padding: 16px;
    font-weight: 600;
  }
  
  &:first-child {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }

  &:last-child {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}

.schedule-reservation {
  position: absolute;
  left: $cell-number-width;
  width: calc(100% - #{$cell-number-width});
  padding: 0.5rem;
  font-weight: 600;

  &--existing {
    background-color: #6aa3ff;
    border-radius: 15px;
    color: black;
  }

  &--your {
    background-color: $light-red-color;
    border-radius: 15px;
    color: white;
  }
}
