.schedule {
  overflow: scroll;
  height: inherit;
  position: relative;

  &__cell {
      height: 60px;
      border: 1px solid black;
  }

  &__title {

  }
}

.schedule-reservation {
  position: absolute;
  left: 30px;
  width: 100%;

  &--existing {
    background-color: #6aa3ff;
  }

  &--your {
    background-color: #dc3545;
  }
}
