@import '../../theme.scss';

.class-search {
  width: 100%;
  position: relative;

  &__container {
    position: absolute;
    background: $light-red-color;
    width: 100%;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.suggestion {
  margin-top: 0.5rem; 
  &:hover {
    cursor: pointer;
    background-color: darken($light-red-color, 30%);
  }
}