.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calendar-header {
  display: flex;
  background-size: cover;
  background: linear-gradient(to right bottom, rgba(black, 0.85), rgba(#1d1d2f, 0.85)), url("calendar-header.jpg") top;
  height: 19vh; //TODO:: Considering for different resolution
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 100px;
}

.calendar-header-navigation {
  &__button {
    background: transparent;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  &__arrow {
    height: 30px;
    width: 30px;

    &--rotate {
      transform: rotate(-180deg);
    }
  }
}

.calendar-current-date {
  color: white;
  width: 200px;

  &__content {
    font-size: 25px;
  }
}
