.month {
  display: flex;
  width: 100%;
  flex-direction: column;


}

.month-day {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #000000;
  min-height: 65px;
}