@import '../../../theme.scss';

.month-day {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.03);
    min-height: 130px;
    &:hover {
        background-color: rgba(220, 53, 69, 0.14);
        cursor: pointer
    }

    &--inactive {
        background: linear-gradient(to right bottom, rgba(52, 58, 64, 0.36), #49505726);
        &:hover {
            background: linear-gradient(to right bottom, rgba(52, 58, 64, 0.36), #49505726);
            cursor: default;
        }
    }

    &__day-number {
        font-weight: 500;
        width: 100%
    }

    &__content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 600;

        &:before {
            content: "\A";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $light-red-color;
            display: inline-block;
            margin: 0 10px;
        }
    }
}