.month {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.month-day {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid rgba(0, 0, 0, 0.03);
  min-height: 65px;
}