@import "../../theme.scss";

.cr-header {
  position: relative;
  overflow: hidden;
  padding-top: calc(4rem + 55px);
  padding-bottom: 2rem;
  background: linear-gradient(45deg, $green-color, $black-color 55%, $red-color) no-repeat scroll center center;
  background-size: cover
}

.cr-header-content {
  z-index: 1;
  position: relative
}

.cr-header-content__heading {
  font-size: 2.5rem
}

.cr-header-content__subheading {
  font-size: 1.5rem
}

.cr-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(45deg, $green-color, $black-color 50%, $red-color)
}

.cr-circle--position-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem
}

.cr-circle--position-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem
}

.cr-circle--position-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%
}

.cr-circle--position-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%
}

.cr-button {
  background-color: $black-color;
  border-color: white;
  border-radius: 5rem;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  font-size: .6rem;
  font-weight: 700;
  color: white;
  letter-spacing: .1rem;

  &:active,
  &:focus,
  &:hover {
    background-color: $red-color;
    border-color: white;
  }

  &:focus {
    box-shadow: 0 0 0 .2rem rgba(238, 9, 121, .5)
  }
}

@media (min-width: 992px) {
  .cr-header-content__heading {
    font-size: 4.5rem
  }

  .cr-header-content__subheading {
    font-size: 2.5rem
  }

  .cr-button {
    padding: 1rem 2.5rem;
    font-size: .9rem;
  }
}
