$cell-min-width: 45px;
$calendar-padding: 40px;

header {
  text-align: center;
}

.calendar {
  margin: 0 8%;
  box-shadow: 0 0 25px 3px rgba(0,0,0,0.15);
  border-radius: 25px;
}

.calendar-header {
  display: flex;
  padding: $calendar-padding $calendar-padding 0;

  &__navigation {
    margin-left: auto;
  }
}
